{:paths
 ["src/main"
  "src/resources"]

 :deps
 {io.pedestal/pedestal.service    {:mvn/version "0.7.0"}
  io.pedestal/pedestal.route      {:mvn/version "0.7.0"}
  io.pedestal/pedestal.jetty      {:mvn/version "0.7.0"}
  
  com.stuartsierra/component      {:mvn/version "1.1.0"}
  
  ;; Logging
  org.clojure/tools.logging       {:mvn/version "1.2.4"}
  ch.qos.logback/logback-classic  {:mvn/version "1.4.14"}
  org.slf4j/slf4j-api            {:mvn/version "2.0.11"}
  
  hiccup/hiccup                   {:mvn/version "2.0.0-RC3"}
  aero/aero                       {:mvn/version "1.1.6"}}

 :aliases
 {:dev
  {:extra-paths ["src/dev"]
   :extra-deps  {com.stuartsierra/component.repl {:mvn/version "1.0.0"}
                 org.clojure/tools.namespace     {:mvn/version "1.4.4"}}}

  :test
  {:extra-paths ["src/test"]
   :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "src/test"]}

  :coverage
  {:extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
   :main-opts ["-m" "cloverage.coverage" 
               "-p" "src/main" 
               "-s" "src/test"
               "--output" "target/coverage"
               "--junit"
               "--codecov"
               "--html"
               "--name" "nxt-server-coverage"
               "--ns-regex" "^nxt.*"]}}}
